
body {
  background-color: #CDFCF6;
}
h1{ color: #98A8F8;}
h2{color: #98A8F8;}
h3{color: #98A8F8;}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 10%;
}
